# dotcnf
*.cnf

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
